@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 270 3% 10%; /* #1a191d */
    --card: 0 0% 100%;
    --card-foreground: 270 3% 10%; /* #1a191d */
    --popover: 0 0% 100%;
    --popover-foreground: 270 3% 10%; /* #1a191d */
    --primary: 150 32% 21%;
    --primary-foreground: 26 53% 75%;
    --secondary: 26 53% 75%;
    --secondary-foreground: 150 32% 15%;
    --muted: 270 3% 10%; /* #1a191d */
    --muted-foreground: 270 3% 65%; /* Lighter variant of #1a191d */
    --accent: 270 3% 10%; /* #1a191d */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 270 3% 10%; /* #1a191d */
    --input: 270 3% 10%; /* #1a191d */
    --ring: 270 3% 10%; /* #1a191d */
    --radius: 0.3rem;
  }
  .dark {
    --background: 270 3% 10%; /* #1a191d */
    --foreground: 60 9.1% 97.8%;
    --card: 270 3% 10%; /* #1a191d */
    --card-foreground: 60 9.1% 97.8%;
    --popover: 270 3% 10%; /* #1a191d */
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 150 32% 21%;
    --primary-foreground: 26 53% 75%;
    --secondary: 26 53% 75%;
    --secondary-foreground: 150 32% 15%;
    --muted: 270 3% 15%; /* Slightly lighter #1a191d */
    --muted-foreground: 270 3% 65%; /* Lighter variant */
    --accent: 270 3% 15%; /* Slightly lighter #1a191d */
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 270 3% 15%; /* Slightly lighter #1a191d */
    --input: 270 3% 15%; /* Slightly lighter #1a191d */
    --ring: 35.5 91.7% 32.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}